body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #ad5389;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    grid-template-rows: auto auto auto;
    margin: 2rem;
    /* border: 3px solid aqua; */
}

.cp_embed_iframe {
    width: 100%;
    overflow: hidden;
    display: grid;
    height: 320px;
}

h1 {
    text-align: center;
    text-transform: capitalize;
}

p {
    padding-left: 10px;
}

@media screen and (max-width:768px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}